<div class="container">
  <h3 class="mt-3">Tabela usando *ngFor</h3>

  <div class="col-md-6 mt-5">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let nome of nomes, let i= index">
              <td>{{ i+1 }}</td>
              <td>{{ nome }}</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
