<!--
<form>
    <div class="form-group row">
      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text"  class="form-control" id="inputEmail"
        #inputcampo1 
        
        >
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputPassword"
        #inputcampo2
        >
      </div>
    </div>
  </form>
  <div class="mt-2" align="center">
    <button class="btn btn-primary">Confirmar</button>
  </div>
-->

<div class="container">

  <div class="mt-5" align="center">
      <h3>Clique em um botao!</h3>
  </div>

  <div class="col mt-5">

    <div class="row mt-2">
      <div class="mr-3">
          <button class="btn btn-primary"
          (click)="clicado1()"
          >Botão 1</button>
      </div>
        <div class="alert alert-primary" role="alert" *ngIf="resposta1">
          Eu fui clicado!
        </div>
    </div>

    <div class="row mt-2">
        <div class="mr-3">
            <button class="btn btn-danger"
            (click)="clicado2()">Botão 2</button>
        </div>
          <div class="alert alert-danger" role="alert" *ngIf="resposta2">
            Cuidado! Eu fui clicacado!
          </div>
      </div>

      <div class="row mt-2">
          <div class="mr-3">
              <button class="btn btn-warning"
              (click)="clicado3()">Botão 3</button>
          </div>
            <div class="alert alert-warning" role="alert" *ngIf="resposta3">
              Hey! Eu fui clicacdo!
            </div>
        </div>

        <div class="row mt-2">
            <div class="mr-3">
                <button class="btn btn-info"
                (click)="clicado4()">Botão 4</button>
            </div>
              <div class="alert alert-info" role="alert" *ngIf="resposta4">
                Eu fui clicado!
              </div>
        </div>

  </div>
</div>
